{% load static %}

<!-- Email button -->
<div class="animate-box" style="
position:fixed; 
top: 30px;
right: 0px; 
z-index: 10000; 
opacity: 1;
width: 45px;
height: 4rem;
text-align: center;
vertical-align: middle;
background: #ffc300;
padding-top: 0.3rem;
border-top-left-radius: 20%;
border-bottom-left-radius: 20%;">
    <a  href="mailto:hibiscusinterior12@gmail.com" target="_blank">
        <div style="
        vertical-align: middle;
        color: #ffffff;
        font-size: 2rem;">
        <i class="icon-mail5"></i>
        </div>
    </a>		
</div>

<!-- Whatsapp button -->
<div class="animate-box" style="
position:fixed; 
top: 80px;
right: 0rem; 
z-index: 10000; 
opacity: 1;
width: 4.5rem;
height: 4rem;
text-align: center;
background: #25d366;
padding-top: 0.3rem;
border-top-left-radius: 20%;
border-bottom-left-radius: 20%;">
    <a  href="https://wa.me/919968197814" target="_blank">
        <div style="
        color: #ffffff;
        font-size: 2rem;">
            <i class="icon-whatsapp"></i>
        </div>
    </a>		
</div>

