<!-- Turnkey slolutions phases -->
<div class="row padding">
    <!-- 1st phase -->
    <div class="col-md-3 no-gutters animate-box" data-animate-effect="fadeInLeft">
        <a href="{% url 'base:turnkey' %}#first-meeting" class="steps">
            <p class="icon"><span><i class="icon-check"></i></span></p>
            <h3>First <br>Meeting</h3>
        </a>
    </div>
    <!-- 2nd phase -->
    <div class="col-md-3 no-gutters animate-box" data-animate-effect="fadeInLeft">
        <a href="{% url 'base:turnkey' %}#initial-phase" class="steps">
            <p class="icon"><span><i class="icon-check"></i></span></p>
            <h3>Initial <br>Phase</h3>
        </a>
    </div>
    <!-- 3rd phase -->
    <div class="col-md-3 no-gutters animate-box" data-animate-effect="fadeInLeft">
        <a href="{% url 'base:turnkey' %}#design-proposal" class="steps">
            <p class="icon"><span><i class="icon-check"></i></span></p>
            <h3>Design <br>Proposal</h3>
        </a>
    </div>
    <!-- 4th phase -->
    <div class="col-md-3 no-gutters animate-box" data-animate-effect="fadeInLeft">
        <a href="{% url 'base:turnkey' %}#planning-phase" class="steps">
            <p class="icon"><span><i class="icon-check"></i></span></p>
            <h3>Planning <br>Phase</h3>
        </a>
    </div>
    <!-- 5th phase -->
    <div class="col-md-3 no-gutters animate-box" data-animate-effect="fadeInLeft">
        <br>
        <a href="{% url 'base:turnkey' %}#construction" class="steps">
            <p class="icon"><span><i class="icon-check"></i></span></p>
            <h3>Construction <br>Phase</h3>
        </a>
    </div>
    <!-- 6th phase -->
    <div class="col-md-3 no-gutters animate-box" data-animate-effect="fadeInLeft">
        <br>
        <a href="{% url 'base:turnkey' %}#move-management" class="steps">
            <p class="icon"><span><i class="icon-check"></i></span></p>
            <h3>Move <br>Management</h3>
        </a>
    </div>
    <!-- 7th phase -->
    <div class="col-md-3 no-gutters animate-box" data-animate-effect="fadeInLeft">
        <br>
        <a href="{% url 'base:turnkey' %}#handover" class="steps">
            <p class="icon"><span><i class="icon-check"></i></span></p>
            <h3>Handover <br></h3>
        </a>
    </div>
</div>